<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Meeting Planner</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      <h1>Welcome to the Meeting Planner!</h1>
      <p>
          There is current {{num_meetings}} meetings in the database.
      </p>
        <script src="" async defer></script>
    </body>
</html>
