{% extends "base.html" %}

{% load static %}

{% block title %}Welcome{% endblock %}

{% block content %}
    <h1>Welcome to the Meeting Planner! </h1>

    <img src="{% static 'website/calendar.png' %}" width="100px">

    <h2>Meetings</h2>
    <ul>
        {% for meeting in meetings %}
        <li>
          <a href="{% url 'detail' meeting.id %}">{{meeting.title}}</a>
        </li>
        {% endfor %}
    </ul>
    <h2>All Rooms</h2>
    <a href="{% url 'rooms' %}">Rooms List</a>
{% endblock %}
